body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #41d418;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
}